<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edapt.operations">
         <operation
               class="at.fhv.tedapt.operation.CreateClass">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.CreateAttribute">
         </operation>
   </extension>

</plugin>
