<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edapt.operations">
         <operation
               class="at.fhv.tedapt.operation.CreateClass">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.CreateAttribute">
         </operation>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.fhv.tedapt.preferences.TedaptPreferences"
            id="at.fhv.tedapt.preferences.TedaptPreferences"
            name="Tedapt">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.fhv.tedapt.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
