<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="at.fhv.tedapt"
            defaultHandler="at.fhv.tedapt.ui.MigrateHandler"
            id="at.fhv.tedapt.Migrate"
            name="Migrate">
      </command>
      <command
      	categoryId="at.fhv.tedapt"
      	defaultHandler="at.fhv.tedapt.ui.MigrateCustomHandler"
      	id="at.fhv.tedapt.CustomMigrate"
      	name="Custom Migrate">
      	</command>
      <command
      	categoryId="at.fhv.tedapt"
      	defaultHandler="at.fhv.tedapt.ui.RepairHandler"
      	id="at.fhv.tedapt.Repair"
      	name="Repair Database">
      	</command>
      <category
            id="at.fhv.tedapt"
            name="Tedapt">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="at.fhv.tedapt.migration">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="at.fhv.tedapt.menu"
               label="Tedapt">
            <command
                  commandId="at.fhv.tedapt.Migrate"
                  label="Migrate Database"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="at.fhv.tedapt.migration">
                  </reference>
               </visibleWhen>
            </command>
            <command
            	commandId="at.fhv.tedapt.CustomMigrate"
            	label="Migrate Database ..."
            	style="push">
            	<visibleWhen
            		checkEnabled="false">
            		<reference
            			definitionId="at.fhv.tedapt.migration">
        			</reference>
        		</visibleWhen>
        	</command>
            <command
            	commandId="at.fhv.tedapt.Repair"
            	label="Repair Databse"
            	style="push">
            	<visibleWhen
            		checkEnabled="false">
            		<reference
                        definitionId="at.fhv.tedapt.migration">
                  	</reference>
               	</visibleWhen>
            	</command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.emf.edapt.operations">
         <operation
               class="at.fhv.tedapt.operation.CreateClass">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.CreateAttribute">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.CreateReference">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.DeleteFeature">
         </operation>
         <operation
               class="at.fhv.tedapt.operation.CopyFeature">
         </operation>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.fhv.tedapt.preferences.TedaptPreferences"
            id="at.fhv.tedapt.preferences.TedaptPreferences"
            name="Tedapt">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="at.fhv.tedapt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
         <statusHandler
         	id="at.fhv.tedapt.TedaptStatusHandler"
         	class="at.fhv.tedapt.status.TedaptStatusHandler" />
   </extension>

</plugin>
